*{
    margin:0;
}
.header{
    background-image: url("./images/Gymnasium.jpg");
    background-repeat:no-repeat;
    height:100vh;
 }
img{
    height: 80px;
    width: 100px;
    border-radius: 10px;
    margin: 5px 0 0 5px;
}
.navbar{
    display:flex;
    justify-content: space-between;
    height: 100px;
    background-color: rgba(115, 119, 136, 0.7);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
}
.menu{
    margin:10px 0 0 1000px;
    
}
.menu ul li{
    display: inline-block;
    margin: 25px 0 0 0;
    
}
a{
    margin: 10px 10px 0 0 ;
    font-size: 30px;
    color: rgb(100, 9, 9);
    text-decoration: none;
}
a:hover{
    color: rgb(11, 165, 62);
    
}
.btn{
    border: 2px solid;
    height: 50px;
    width:150px;
    text-align: center;
    padding: 10px 5px 10px 5px;
    margin:25px 30px 0 0;
    border-radius: 5px;
    background-color: burlywood;
    font-size: 20px;
}
.btn:hover{
    background-color: coral;
    color: blue;
    cursor: pointer;
    box-shadow: 3px 3px 5px blue ; 
}
h1{
    font-size: 80px;
    font-weight: 50px;
    color: rgb(100, 165, 81);
    margin: 200px 0 0 200px;
    font-family: 'Indie Flower', cursive;
    text-shadow: 3px 3px 5px blue ;
}
p{
   text-align: center;
   font-size: 30px;
   color: white;
   margin: 100px 30px 0 30px;
   font-family: 'Dancing Script', cursive;
}
.btn_learn{
    margin: 50px 0 0 900px;
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: darkgoldenrod;

}
.btn_learn:hover{
   background-color: burlywood;
   box-shadow: 3px 3px 5px blue ; 
}